<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baoleme.dao.MerchantDao">
    <select id="getById" parameterType="long" resultType="Merchant">
    	SELECT * FROM merchant WHERE id =#{id}
    </select>

    <select id="getAll" parameterType="long" resultType="Merchant">
        SELECT * FROM merchant
    </select>

    <select id="getAllByIds" parameterType="java.util.List" resultType="Merchant">
        SELECT * FROM merchant
        where id in
        <foreach collection="list" item="merchantId" open="(" close=")" separator=",">
            #{merchantId}
        </foreach>
    </select>
</mapper>