<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baoleme.dao.UserTraceDao">

    <select id="getByUserId" parameterType="long" resultType="UserTrace">
        SELECT * FROM `user-trace` where userId =#{userId}
    </select>

    <delete id="deleteByUserId">
        delete from `user-trace` where userId = #{userId}
    </delete>

    <insert id="add" parameterType="UserTrace">
        insert into `user-trace` (userId, operation, value)  values (#{userId}, #{operation}, #{value})
    </insert>

</mapper>