<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baoleme.dao.UserTraceDao">

    <select id="getByUserId" parameterType="long" resultType="UserTrace">
        SELECT * FROM userTrace where userId =#{userId}
    </select>

    <insert id="add" parameterType="UserTrace">
        insert into userTrace (userId, operation, 'value')  values (#{userId}, #{operation}, #{value})
    </insert>

</mapper>